.logo-name {
    font-style: normal;
    color: #6a0000;
    margin-left: 5rem;
    margin-top: 1.8rem;
    font-size: 35px;
    font-weight: bolder;
    background: #ffffff;
    border-bottom: 1px solid;
}