* {
  font-family: 'Spartan', sans-serif;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.logo {
  background-image: url('./images/teemu-paananen-rd5uNIUJCF0-unsplash 1.jpg');
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #ffffff;
  padding-top: 4%;
  padding-left: 10%;
  font-weight: bolder;
}

.cta {
  margin: auto 14% auto 16%;
}

.cta button {
  width: 27%;
  background: #6a0000;
  border-radius: 2px;
  color: #fff;
  border: #6a0000;
  padding: 3%;
  font-weight: bolder;
  cursor: pointer;
}

.cta p {
  font-weight: bold;
}

.logo-name {
  font-style: normal;
  color: #6a0000;
  margin-left: 5rem;
  margin-top: 1.8rem;
  font-size: 35px;
  font-weight: bolder;
  background: #ffffff;
  border-bottom: 1px solid;
}

.activists-container {
  background: #fbfbfb;
  margin-left: 5rem;
  margin-top: 3rem;
  margin-right: 5rem;
}

.search-add {
  height: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.search-add input {
  height: 3rem;
  width: 50%;
  margin-right: 2rem;
}

.search-add button {
  height: 2rem;
}

.activist-search {
  background: #6a0000;
  border-radius: 2px;
  border: #6a0000;
  color: #fff;
  font-weight: bolder;
  padding: 1rem 1.5rem 2rem;
}

.add {
  background: #fff;
  border-radius: 2px;
  border: 3px solid #6a0000;
  color: #6a0000;
  font-weight: bolder;
  padding: 1rem 1.5rem 2rem;

  float: right;
}

.filter {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.activists {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2%;
}

.activist {
  border: 1px solid;
  border-radius: 3px;
  padding: 3rem 2rem;
  background: #fff;
}

.image-clap {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 3rem;
}

.clap-count {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto auto auto 2rem;
}

.activist-image {
  border-radius: 50%;
  width: 88%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: left;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  width: 8%;
  line-height: 22px;
  color: #121212;

  padding: 1rem 20px 5px;
}

th {
  text-align: left;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #a1a4b8;
}

td:nth-child(odd) {
  width: 0rem;
}

.list-activist-image {
  border-radius: 50%;
  width: 58%;
}

.list-activist-name {
  width: 50%;
  padding-left: 1rem;

  line-height: 22px;
  color: #121212;
}

.list-activist-description {
  padding-left: 1rem;
}

.link {
  color: #fff;
  text-decoration: none;
}

.add-new {
  background: #6a0000;
  color: #fff;
  padding: 1rem;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  border: #6a0000;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.footer {
  margin: auto;
  margin-bottom: 2rem;
}
.add-title {
  font-style: normal;
  font-weight: 800;
  font-size: 27px;
  line-height: 26px;
  color: #121212;
}

/* tr {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
} */
